
:root{
  --cor-fundo-input: #6B6B6B;
  --cor-borda-input: #fff;
  --cor-borda-input-radio: #85DE66;
  --cor-fundo: #000000BC;
  --cor-fundo-bottom: #1e1e1e00;
}

*{
    margin: 0;
    box-sizing: border-box;
    font: optional;
  }
  
  body{
    background-color: #1e1e1e
  }
main {
  height: 100%;
}
